In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By

# Lendo a planilha

In [2]:
planilha = pd.read_excel('challenge.xlsx')

In [3]:
planilha

,First Name,Last Name,Company Name,Role in Company,Address,Email,Phone Number
0,John,Smith,IT Solutions,Analyst,98 North Road,jsmith@itsolutions.co.uk,40716543298
1,Jane,Dorsey,MediCare,Medical Engineer,11 Crown Street,jdorsey@mc.com,40791345621
2,Albert,Kipling,Waterfront,Accountant,22 Guild Street,kipling@waterfront.com,40735416854
3,Michael,Robertson,MediCare,IT Specialist,17 Farburn Terrace,mrobertson@mc.com,40733652145
4,Doug,Derrick,Timepath Inc.,Analyst,99 Shire Oak Road,dderrick@timepath.co.uk,40799885412
5,Jessie,Marlowe,Aperture Inc.,Scientist,27 Cheshire Street,jmarlowe@aperture.us,40733154268
6,Stan,Hamm,Sugarwell,Advisor,10 Dam Road,shamm@sugarwell.org,40712462257
7,Michelle,Norton,Aperture Inc.,Scientist,13 White Rabbit Street,mnorton@aperture.us,40731254562
8,Stacy,Shelby,TechDev,HR Manager,19 Pineapple Boulevard,sshelby@techdev.com,40741785214
9,Lara,Palmer,Timepath Inc.,Programmer,87 Orange Street,lpalmer@timepath.co.uk,40731653845

In [4]:
first_name = planilha['First Name'].values
last_name = planilha.iloc[:,1].values #Passar o nome da coluna neste caso estava dando key error.
company_name = planilha['Company Name'].values
role_in_company = planilha['Role in Company'].values
adress = planilha['Address'].values
email = planilha['Email'].values
phone = planilha['Phone Number'].values
phone = phone.astype(object)

# Automação

In [5]:
driver = webdriver.Chrome()
driver.get("https://rpachallenge.com/")

In [6]:
start = driver.find_element(By.XPATH,'/html/body/app-root/div[2]/app-rpa1/div/div[1]/div[6]/button')
start.click()
for i in range(10):
    campo_nome = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelFirstName"]')
    campo_nome.send_keys(planilha['First Name'].values[i])

    campo_sobrenome = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelLastName"]')
    campo_sobrenome.send_keys(last_name[i])

    campo_empresa = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelCompanyName"]')
    campo_empresa.send_keys(company_name[i])

    campo_profissao = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelRole"]')
    campo_profissao.send_keys(role_in_company[i])

    campo_endereco = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelAddress"]')
    campo_endereco.send_keys(adress[i])

    campo_email = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelEmail"]')
    campo_email.send_keys(email[i])

    campo_telefone = driver.find_element(By.XPATH,'//input[@ng-reflect-name="labelPhone"]')
    campo_telefone.send_keys(phone[i])

    botao = driver.find_element(By.XPATH, '/html/body/app-root/div[2]/app-rpa1/div/div[2]/form/input')
    botao.click()